# 数据库配置
DATABASE_URL=postgresql+asyncpg://username:password@localhost/user_management
ASYNC_DATABASE_URL=postgresql+asyncpg://username:password@localhost/user_management

# Redis 配置
REDIS_URL=redis://localhost:6379/0
REDIS_PASSWORD = ecredis

# 应用配置
APP_HOST=127.0.0.1
APP_PORT=8080
APP_DEBUG=True

# 安全配置
SECRET_KEY=your-secret-key-here